/* Clean #A8D2CB
butter #F2D387
Salmon #C3866B
eggplant #874D63 */
body {
  display: block;
  margin: 8px;
}

.card {
  box-shadow: 0 4px 24px 0 hsla(0, 98%, 48%, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(9, 231, 58);
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

section {
  width:500px;
  clear:both;
}

#firstcard {
  background-color: rgb(69, 219, 23);
}

#secondcard { */

/* } */
/* 
#thirdcard {
  margin-bottom: 20px;
  width:200px;
  float:left;
}

#fourthcard {
  margin-bottom: 20px;
  width:200px;
  float:left;
}

#fifthcard {
  margin-bottom: 20px;
  width:200px;
  float:left;
}   */